[Unit]
Description=Gunicorn service to run 2-hbnb application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/HBNB_v4
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:5003 --workers=4 --access-logfile /var/log/2hbnb-access.log --error-logfile /var/log/2hbnb-error.log web_dynamic.2_hbnb:app

[Install]
WantedBy=multi-user.target
